* {
  padding: 0;
  margin: 0;
  color: #fff;
}

.mainContainer {
  padding: 0;
}

.mainContainer h4 {
  padding: 3vh 5vh;
  font-size: medium;
  background-color: #b13968;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}

.detailsContainer p {
  padding: 1.5vh 5vh;
}

.detailsContainer p:nth-child(2n) {
  background-color: #b13968;
}

.leftDetails {
  width: 50%;
}

.rigthDetails a {
  color: black;
}

.bold {
  font-weight: bold;
}
