* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  padding: 0 4vw;
  background-color: #fd5294;
  height: 100vh;
  color: #fff;
}

.welcome {
  padding: 5vh 0 5vh 0;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.imgContainer {
  padding: 0;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0;
}
