.artworkContainer {
  width: calc(46vw - 2px);
  height: 100vw;
  padding: 1vh 2vw;
  background-color: inherit;
  border-radius: 4px;
  background-color: #cd4176;
  border: 1px solid #b13968;
}

.artworkContainer:hover {
  background-color: #b13968;
}

.imgItem {
  width: 100%;
  height: 70%;
}

.imgSmall {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.artworkTitle {
  text-align: end;
  padding: 8px 3px;
}

.artworkTitle h3,
.artworkTitle p {
  color: white;
  margin-bottom: 0.5rem;
  font-size: medium;
}

.artworkContainer:hover h3 {
  text-decoration: underline;
  cursor: pointer;
}

.artworkTitle h4 {
  color: #17202a;
}
