.departmentContainer {
  background-color: #fd5294;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 4vw;
}

.header h1 {
  font-size: 20px;
  color: #b13968;
}

.header h2 {
  text-align: end;
  color: #fff;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemsContainer a {
  text-decoration: none;
  color: #fff;
}

