* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  padding: 3vh 4vw;
  background-color: #fd5294;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.imgContainer {
  height: calc(100vh - 20%);
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
