* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  padding: 0 4vw;
  background-color: #fd5294;
  height: 100%;
  /* width: 100%; */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  padding: 5vh 0 5vh 0;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.imgContainer {
  padding: 0;
  padding-bottom: 5vh;
  max-width: 700px;
  max-height: calc(80vh);
  object-fit: contain;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0;
}
