* {
  margin: 0;
  padding: 0;
}

.submenu {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  list-style: none;
  position: absolute;
  background-color: #ec4c8b;
  top: 30px;
  max-width: 20rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
}

.navDepartment {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.navDepartment:hover {
  background-color: #b13968;
}

.navlink {
  margin: 0;
  text-decoration: none;
  color: black;
  text-align: start;
}

.submenu.clicked {
  display: none;
}
