.submenu {
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 400px;
  height: 2rem;
}

.navlink {
  text-decoration: none;
  color: black;
  text-align: start;
}

.submenu.clicked {
    display: none;
}

.navDepartment:hover {
  background-color: aquamarine;
}
